# Copyright 2012 Hewlett-Packard Development Company, L.P.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

# /etc/beaver/conf:
; follow a single file, add a type, some tags and fields
[beaver]
transport: redis
redis_url: {{ pillar['logging_redis_url'] }}
redis_namespace: {{ pillar['logging_namespace'] }}
ssh_key_file: {{ pillar['logging_ssh_key_file'] }}
ssh_tunnel: {{ pillar['logging_ssh_tunnel'] }}
ssh_tunnel_port: {{ pillar['logging_ssh_tunnel_port'] }}
ssh_remote_host: {{ pillar['logging_ssh_remote_host'] }}
ssh_remote_port: {{ pillar['logging_ssh_remote_port'] }}
format: json
sincedb_path: {{ pillar['logging_sincedb_path'] }}
queue_timeout: 9999

[/var/log/libra/libra_worker.log]
type: lbaas
tags: libra_worker

[/var/log/unattended-upgrades/unattended-upgrades.log]
type: lbaas
tags: security_update

[/var/log/salt/minion]
type: lbaas
tags: salt_minion

[/var/log/auth.log]
type: lbaas
tags: auth_log

